.adBanerHomePage {
    width: 100%;
    background: white;
    border-bottom: 2px solid #d0d1d1;
    overflow: hidden;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    margin-top: 35px;
}
.adBanerHomePage .adBanerHomePage-abs {
    position: absolute;
    top: 0px;
    left: 20px;
}

.adBanerHomePage .adBanerHomePage-abs .adBanerHomePage-box {
    display: inline-block;
    white-space: nowrap;
    margin-left: 0px;
}
.adBanerHomePage .adBanerHomePage-abs .adBanerHomePage-text {
    color: #138ab8;
}

.adBanerHomePage .adBanerHomePage-abs img {
    vertical-align: sub;
    padding: 0px 7px;
}

.ticadBanerHomePageker i {
    color: #980e0e;
}
