*{
  box-sizing: border-box;
  font-family: Roboto, sans-serif;  
}
body {
  background-color: rgb(245, 248, 250);
  color:     #6d6e71;
}
/* styling a small news card */
a {
  text-decoration: none;
}
.h1{
  color: rgb(19, 138, 184);
  font-size: 36px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  height: 39px;
  line-height: 39.6px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/*ALL PAGE*/
#containerToPrintAllNews,
#containerToPrintPoliticsNews,
#containerToPrintWorldNews,
#containerToPrintCultureNews,
#containerToPrintOffsideNews,
#containerToPrintHoroscopeNews,
#containerToPrintRubricNews,
#containerPrintAllNewsByUser {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
}

#allNewsContainer,
#politicsContainer,
#worldContainer,
#cultureContainer,
#offsideContainer,
#horoscope,
#rubric,
#currentNewsByUser{
  display: flex;
}

#homeContainer {
  width: 940px;
  margin: 0 auto;
}
.categoryPolitics,
.categoryWorld,
.categoryCulture,
.categoryOffside,
.categoryHoroscope,
.categoryRubric {
  display: block;
  width: 100%;
  height: 624.812px;
  margin: 0 auto;
  padding: 3px;
}
.politicsNews,
.worldNews,
.cultureNews,
.offsideNews,
.horoscopeNews,
.rubricNews {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
#containerHomePagePoliticsNews,
#containerHomePageWorldNews,
#containerHomePageCultureNews,
#containerHomePageOffsideNews,
#containerHomePageHoroscopeNews,
#containerHomePageRubricNews {
  width: 2798px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  transition: all 1s;
}
.thumbnail {
  display: block;
  float: left;
  height: 467.812px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 235px;
  margin-bottom: 30px;
}
.thumbnail > a {
  cursor: pointer;
  display: inline;
  font-size: 14px;
  width: auto;
}
.newsCard {
  background-color: rgb(255, 255, 255);
  border-radius: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 444.4px;
  line-height: 22.4px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 9px;
  width: 213px;
}
.newsCard:hover {
  border: 2px solid #3097d1;
  border-radius: 4px;
}
.newsCard > img {
  cursor: pointer;
  display: block;
  height: 119.812px;
  max-width: 100%;
  width: 213px;
}
.newsCardTitle {
  box-sizing: border-box;
  color: rgb(99, 107, 111);
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 195px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 9px;
  text-align: left;
  text-size-adjust: 100%;
  margin-right: 9px;
  width: 213px;
  margin: 0 auto;
}
.newsCard > .newsCardTitle > h3 {
  color: rgb(109, 110, 113);
  cursor: pointer;
  display: block;
  font-size: 22px;
  font-weight: 500;
  height: 192px;
  text-align: left;
  text-size-adjust: 100%;
  width: 190px;
  padding-right: 9px;
  word-break: break-word;
}
.newsCard .newsCardTitle > p {
  color: rgb(109, 110, 113);
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 100;
  height: 28px;
  text-align: left;
  text-size-adjust: 100%;
  width: 195px;
}
p.date {
  margin-bottom: 0px;
}
p.readNews{
  margin-top: 5px;
}
.categoryTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*style left and right arrow*/
.categoryCarouselLogo {
  width: 100%;
  display: flex;
}
.categoryCarouselLogo img {
  margin: 0 auto;
}
.leftArrow {
  background: url("../images/logo/left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  display: block;
  width: 42px;
  height: 42px;
  margin-left: 40px;
}
.leftArrow:hover {
  background: url("../images/logo/leftHover.png");
}
.rightArrow {
  background: url("../images/logo/right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 40px;
}
.rightArrow:hover {
  background: url("../images/logo/rightHover.png");
}
/*AD BANER*/
.adBanner {
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(208, 209, 209);
  width: 940px;
  height: 251px;
  margin-bottom: 34px;

}
.adBanner img{
  width: 100%;
  height: 100%;
}

.pageContainer{
  display: flex;
  flex-wrap: wrap;
  width: 945px;
  margin: 0 auto;
}
/* ADD NEWS PAGE */
.addNewsForm label{
  display: inline-block;
  width: 200px;
}
.addNewsInputDIV{
display: inline-block;
width: 75%;
}
.addNewsForm input, textarea{
  width: 100%;
}
/* REGISTER PAGE */
#login{
  width: 472.5px;
  /* text-align: center; */
}
#login input{
  height: 30px;
  outline: none;
  border-radius: 25px;
  border: 1px solid #ccd0d2;
  width: 100%;  
}
#login button{
  color: white;
  font-size: 16px;;
  /* font-weight: bold; */
  background-color: #138ab8;
  border: 1px solid #ccd0d2;
  border-radius: 25px;
  height: 30px;
  width: 180px;
  outline: none;
}
#login button:hover{
  cursor: pointer;
}
.registerForm label{
  display: inline-block;
  text-align: end;  
  width: 100px;
}
.registerInput {
  margin: 10px;
  display: inline-block;
  width: 45%;
}

/* LOGIN */
.loginForm label{
  display: inline-block;
  text-align: end;  
  width: 100px;
}
.loginInput {
  margin: 10px;
  display: inline-block;
  width: 45%;
}

/* current news */
#currentNews {
  width: 970px;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#currentNews .adBanner {
  margin-top: 40px;
  margin-bottom: 34px;
  width: 970px;
}
#currentNews .titleCurrentNews{
  text-align: center;
  font-weight: bold;
  color: #138ab8;
  margin-bottom: 30px;
  margin-top: 5px;
  text-size-adjust: 100%;
}
#currentNews > img{
  height: 647px;
  width: 970px;
}
.containerAutorАndRead{
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(109, 110, 113);
  display: block;
  float: left;
  font-size: 14px;
  height: 51.25px;
  line-height: 22.4px;
  margin-bottom: 0px;
  min-height: 1px;
  padding-bottom: 0px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  position: absolute;
  text-size-adjust: 100%;
  width: 970px;
}
.firstPartNews, .secondPartNews{
  background-color: rgb(255, 255, 255);
  color: rgb(109, 110, 113);
  display: block;
  font-size: 14px;
  height: auto;
  line-height: 28.8px;
  padding-top: 80px;
  margin-top: 0px;
  text-size-adjust: 100%;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
}
span:first-child {
  font-style: italic;
}
#currentNews > .secondPartNews{
  padding-top: 30px;
}
p:first-child{
  font-style: italic;
}
.share-text{
  font-style: italic;
  text-align: center;
  font-size: 12px;
}
.socialTag{
  display: flex;
  justify-content: center;
}
.containerAutorАndRead span{
  margin-left: 5px;
  margin-right: 10px;
  text-align: center;
}
.containerAutorАndRead a{
  margin-left: 5px;
  margin-right: 10px;
  text-align: center;
}

/* FOOTER */
#footerContainer{
    background-color: #138ab8;
    display: flex;
    justify-content: space-around;
    height: 130px;
    align-items: center;
}


/*title news by user*/
#AllUserNews{
  text-align: center;
  font-weight: bold;
  color: #138ab8;
  margin-bottom: 30px;
  margin-top: 35px;
  text-size-adjust: 100%;
}

/*popular and similar news*/
.similarNews {
  display: flex;
  padding-left: 20px;
  padding-right: 15px;
  width: 970px
   
}

.popularNews {
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  width: 970px
}

#btnSimilar, #btnPopular{
  width: 191px;
  border: none;
  background: none;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 35px;
  text-align: left;
  outline: none;
}



.active {
  color: rgb(109, 110, 113);
  width: 193px;
  cursor: pointer;
  outline: none;
}

.inactive{
  color: rgb(19, 138, 184);
  width: 233px;
  font-weight: 700;
  pointer-events: none;
  cursor: unset;
}

.btnSimilar {
  color: rgb(19, 138, 184);
  width: 233px;
  font-weight: 700;
  cursor: unset;
}

.active:hover {
  text-decoration: underline;
}

/*questionnaire*/
.containerAnswer{
  display: flex;
  flex-direction: row;
}
.surveyAnswer{
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 20px;
  width: 550px;
  height: 30px;
}

