*{
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
body {
  background-color: rgb(245, 248, 250);
}
/* styling a small news card */
a {
  text-decoration: none;
}
#homeContainer {
  width: 940px;
  margin: 0 auto;
}
.categoryPolitics,
.categoryWorld,
.categoryCulture,
.categoryOffside,
.categoryHoroscope,
.categoryRubric {
  display: block;
  width: 100%;
  height: 624.812px;
  margin: 0 auto;
  padding: 3px;
}
.politicsNews,
.worldNews,
.cultureNews,
.offsideNews,
.horoscopeNews,
.rubricNews {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
#containerHomePagePoliticsNews,
#containerHomePageWorldNews,
#containerHomePageCultureNews,
#containerHomePageOffsideNews,
#containerHomePageHoroscopeNews,
#containerHomePageRubricNews {
  width: 2798px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  transition: all 1s;
}
.thumbnail {
  display: block;
  float: left;
  height: 467.812px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 235px;
  margin-bottom: 30px;
}
.thumbnail > a {
  cursor: pointer;
  display: inline;
  font-size: 14px;
  width: auto;
}
.newsCard {
  background-color: rgb(255, 255, 255);
  border-radius: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 444.4px;
  line-height: 22.4px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 9px;
  width: 213px;
}
.newsCard:hover {
  border: 2px solid #3097d1;
  border-radius: 4px;
}
.newsCard > img {
  cursor: pointer;
  display: block;
  height: 119.812px;
  max-width: 100%;
  width: 213px;
}
.newsCard > .newsCardTitle {
  color: rgb(99, 107, 111);
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 314px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 9px;
  text-align: left;
  text-size-adjust: 100%;
  width: 213px;
}
.newsCard > .newsCardTitle > h3 {
  color: rgb(109, 110, 113);
  cursor: pointer;
  display: block;
  font-size: 22px;
  font-weight: 500;
  height: 192px;
  text-align: left;
  text-size-adjust: 100%;
  width: 195px;
  word-break: break-word;
}
.newsCard .newsCardTitle p {
  color: rgb(109, 110, 113);
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 300;
  height: 28px;
  text-align: left;
  text-size-adjust: 100%;
  width: 195px;
}
.categoryTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*style left and right arrow*/
.categoryCarouselLogo {
  width: 100%;
  display: flex;
}
.categoryCarouselLogo img {
  margin: 0 auto;
}
.leftArrow {
  background: url("../images/logo/left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  display: block;
  width: 42px;
  height: 42px;
  margin-left: 40px;
}
.leftArrow:hover {
  background: url("../images/logo/leftHover.png");
}
.rightArrow {
  background: url("../images/logo/right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 40px;
}
.rightArrow:hover {
  background: url("../images/logo/rightHover.png");
}
/*AD BANER*/
.adBanner {
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid rgb(208, 209, 209);
  width: 940px;
  height: 55px;
  margin-bottom: 34px;
}

/* CHANGES BY KIRIL
DIV CONTAINERS STYLES */
.pageContainer{
  display: flex;
  flex-wrap: wrap;
  width: 945px;
  margin: 0 auto;
}
